@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
}

/* Нормализация блочной модели */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы слева и стандартный маркер, у которых есть атрибут с классом list */
:where(ul, ol):where([class*="list"]) {
  padding-left: 0;
  list-style-type: none;
}

/* Убираем внешние отступы у которых есть атрибут class */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

/* Наследуем свойства шрифта для полей ввода */
:where(input,
  textarea,
  select,
  button):where([class]) {
  font-family: inherit;
}

/* Делаем изображения адаптивными */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  color: var(--color-dark-secondary);
  background-color: var(--color-gray-light);
}
